




<div class="container">

  <div class="row">
   <% @comedians.each do |comedian| %>

      <div class="card">
        <div class="card-image">
          <a href="/comedian/<%= comedian.id %>"><img src=<%= comedian.image %>></a>  
        </div>
        <div class="card-content" data-comedian-id="<%= comedian.id %>">
          <span class="comedian"><%= comedian.name %> (<%= comedian.country %>)</span> 

          <% if current_user.liked_comedians.member?(comedian) %>
            <span><img class="emoticon" src=<%= image_path('emoji.png') %> alt="laugh"></span>
          <% else %>
          <span><img class="emoticon gray" src=<%= image_path('emoji.png') %> alt="laugh"></span>
        <% end %>
        </div>
      </div> 
    <% end %>
  </div>

</div>

<script>
$(document).ready(function() {
  $('.emoticon').on('click', toggleLike);
  $(".button-collapse").sideNav();
});
</script>