


<div class="container">
  <% unless current_user.has_likes? %>
    <h3 class="flow-text heading">Select at least one comedian who makes you laugh to see your likes here!</h3>
    <a href="/" class="btn waves-effect waves-light">BACK</a>
  <% end %>

  <div class="row">
   <% @comedians.each do |comedian| %>

      <div class="card">
          <a href="../comedian/<%= comedian.id  %>"><img class="photo" src=<%= comedian.image %>></a>  
        <div class="card-content" data-comedian-id="<%= comedian.id %>">
          <span class="comedian"><%= comedian.name %> (<%= comedian.country %>)</span> 

          <% if current_user.liked_comedians.member?(comedian) %>
            <span><img class="emoticon" src=<%= image_path('emoji.png') %> alt="laugh"></span>
          <% else %>
          <span><img class="emoticon gray" src=<%= image_path('emoji.png') %> alt="laugh"></span>
        <% end %>
        </div>
      </div> 
    <% end %>
  </div>

</div>
